div{
	border-radius: 5px;
}
.contenedor-header{
    background-color:#CCC;
    width:100%;
    height:45px;
display:flex;
justify-content: space-around;
}
.contenido{
    height:80px;
    width:10%;
    float:left;
    margin: 10px;
}
