<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
    <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div> {{messages[0]}}. ve a <a href="{{url_for('auth.login')}}">login page</a> </div>
    {% endif %}
    {% endwith %}
    <form method="POST">
            {{ form.csrf_token }}
            <div>
                <h3>{{ form.name.label }}</h3>
                {{ form.name(size=30) }}
            </div>
            <div>
                <h3>{{ form.last_name.label }}</h3>
                {{ form.last_name(size=30) }}
            </div>
            <div>
                <h3>{{ form.email.label }}</h3>
                {{ form.email(size=30) }}
            </div>
            <div>
                <h3>{{ form.password.label }}</h3>
                {{ form.password(size=30) }}
            </div>
            {{ form.send }}
        </form>
    </body>
</html>
